html * {
    font-family: "Gotham", "Helvetica", sans-serif;
} 

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;

}

.menulist {
  text-align: center;
}

.menulist li {
  letter-spacing: 0.05em;
  display: inline-block;
  padding-right: 20px;
}

.menulist a {
  color: #002144;
  text-decoration: none;
}

.container_contact {
  display:flex;
  margin-top: 20px;
  justify-content: center;
}

.bg_content_contact {
display: flex;
height: 480px;
width: 960px;
justify-content: center;
background-color: rgb(176, 176, 176);
/*background-image: url(pics/img_bg_content_index.jpg);*/
/*background-repeat: no-repeat;*/
}

.txt_content_contact {
  display: flex;
  height: 420px;
  width: 800px;
  margin-top: 20px;
  justify-content: center;
  color: #002144;
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
}


  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1px;
    text-align: center;
    font-size: smaller;
  }